# Build artifacts
Cargo.lock
/target/
/release/
/publish/
*.zip

# Environment & config files
.env
config.toml
*.json.bak

# Scripts
**/*.bat
**/*.vbs
**/*.rs.bk

# IDEs
.vscode/
.idea/
*.swp

# Local suite configs (generated at runtime)
suites/*.json